<a href="https://colab.research.google.com/github/fhastas/python_basic_class/blob/main/Python_Basic_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# input() 함수를 사용할 때의 주의점
# input()은 모든 입력을 str(문자열)로 저장한다는 점이다.
# 따라서 숫자를 입력해도 문자로 받아드린다.

n = input('정수를 입력하세요>>>')
print(type(n))

정수를 입력하세요>>>123
<class 'str'>

In [4]:
n = int(input('정수를 입력하세요>>>'))    # 형변환이 필요하다. casting
print(type(n))

정수를 입력하세요>>>123
<class 'int'>

In [5]:
price = 50000
n = int(input('할부 개월 입력>>>'))
print('매달 내는 돈은 {}입니다.'.format(price/n))

할부 개월 입력>>>10
매달 내는 돈은 5000.0입니다.

In [10]:
n1 = float(input('첫 번째 실수를 입력하세요>>>'))
n2 = float(input('두 번째 실수를 입력하세요>>>'))
print(f'{n1}와 {n2}의 합은 {n1+n2}입니다.')

첫 번째 실수를 입력하세요>>>5
두 번째 실수를 입력하세요>>>6
5.0와 6.0의 합은 11.0입니다.

In [12]:
# M = {'1월':'31일', '2월':'28일', '3월':'31일', '4월':'30일', '5월':'31일', '6월':'30일', '7월':'31일', '8월':'30일', '9월':'31일', '10일':'30일', '11월':'31일', '12월':'30일'}
M = [31,28,31,30,31,30,31,30,31,30,31,30]

Q = int(input('1~12 사이의 월을 입력하세요>>>'))
print(f'{Q}월은 {M[Q-1]}일까지 있습니다.')

1~12 사이의 월을 입력하세요>>>3
3월은 31일까지 있습니다.

In [14]:
english_dict = {
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}
Q = input('영어 단어를 입력하세요>>>')
print(f'{Q}:{english_dict[Q]}')

영어 단어를 입력하세요>>>floor
floor:바닥

In [16]:
# 복합 대입 연산자

a = 1
print(a)
# a = a + 1     
a += 1
print(a)
a -= 1
print(a)

1
2

In [17]:
a, b = 10, 20
print('a = %d, b = %d' % (a, b))

a, b = b, a
print('a = %d, b = %d' % (a, b))

a = 10, b = 20
a = 20, b = 10

In [18]:
# 시퀸스 연산자 : 순서가 있는 구조 시퀸스(리스트, 튜플, 문자열, range)에서 사용된다.

[1,3,5] + [2,4,6]

[1, 3, 5, 2, 4, 6]

In [20]:
'hello' + ' ' + 'python'

'hello python'

In [21]:
[1,3,5] * 2

[1, 3, 5, 1, 3, 5]

In [22]:
'*' * 20

'********************'

In [23]:
# 멤버쉽 연산자
5 in [1,2,3,4,5]

True

In [24]:
5 not in [1,2,3,4,5]

False

In [25]:
'a' in 'apple'

True

In [29]:
'a' in {'a':'apple', 'b':'banana'}

True

In [37]:
n = int(input('10~99 사이의 정수를 입력하세요>>>'))
t = n//10
o = n%10
print(f'십의 자리: {t}')
print(f'일의 자리: {o}')

10~99 사이의 정수를 입력하세요>>>64
십의 자리: 6
일의 자리: 4

In [38]:
n = input('10~99 사이의 정수를 입력하세요>>>')
print(f'십의 자리: {n[0]}')
print(f'십의 자리: {n[1]}')

10~99 사이의 정수를 입력하세요>>>12
십의 자리: 1
십의 자리: 2

In [42]:
Qs = int(input('초을 입력하세요>>>'))
h = Qs//3600
m = (Qs//60) - (h * 60)
s = Qs - ((h * 3600)+(m * 60))

# Qs // 3600
# Qs % 3600 // 60
# Qs % 60

print(f'변환 결과는 {h}시간 {m}분 {s}초입니다.')

초을 입력하세요>>>86400
변환 결과는 24시간 0분 0초입니다.

In [45]:
n = int(input('4자리 사원번호를 입력하세요>>>'))
n1 = n % 10

if n1 >= 5:
  print('근무시간은 오전입니다.')
else:
  print('근무시간은 오후입니다.')

4자리 사원번호를 입력하세요>>>1235
근무시간은 오전입니다.

In [ ]:
# 조건문 if
# 조건문은 특정 조건을 만족하는지의 여부에 따라 실행되는 코드가 달라져야 할 때 사용

a = 0

if a > 0:
  print('양수')
else:
  print('음수')