<a href="https://colab.research.google.com/github/fhastas/python_basic_class/blob/main/Python_Basic_Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# for 반복문, 주로 반복 횟수를 명확히 알고 있을 때 사용

# for 변수 in 반복객체:
#   반복실행

for i in [1,2,3]:
  print(i)

1
2
3

In [ ]:
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
for item in ['가위', '바위', '보']:
  print(item)

가위
바위
보

In [ ]:
# 리스트 내포 : for 문을 이용해서 리스트를 간단히 생성한다.

[n*2    for n in [1,2,3]]

[2, 4, 6]

In [ ]:
[n*2    for n in [1,2,3,4,5]    if n%2 ==1]

[2, 6, 10]

In [ ]:
four_seasons = {'Spring', 'Summer', 'Autumn', 'Winter'}
for season in four_seasons:
  print(season)

Autumn
Spring
Summer
Winter

In [ ]:
# range()
# 정수 범위를 만들어 낼 때 유요한 아주 많이 for문과 사용되는 함수

# range(start, stop, step)  # start(0부터), step(1씩 증가) 은 생략 가능

print(list(range(5))) # start 생략, step 생략 0, 1, 2, 3, 4   0부터 5미만
print(list(range(1, 11))) # step만 생략 1부터 11미만

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 11):
  print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [ ]:
for item in {'가위', '바위', '보'}:
  print(item)

보
바위
가위

In [ ]:
person = {
    'name':'에밀리',
    'age':20
}

for item in person:
  print(item, person[item])

name 에밀리
age 20

In [ ]:
for n in range(5, 0, -1):
  print(n)

5
4
3
2
1

In [ ]:
i = int(input('임의의 양수를 입력하세요>>>'))
sum = 0

for n in range(0, i+1):
  sum += n

print(f'1부터 {i}사이 모든 정수의 합계는 {sum}입니다.')

임의의 양수를 입력하세요>>>5
1부터 5사이 모든 정수의 합계는 15입니다.

In [ ]:
i = int(input('몇 개의 과일을 보관할까요? >>>'))
basket = []

for n in range(1, i+1):
  basket.append(input(f'{n}번째 과일을 입력하세요>>>'))

print(f'입력받은 과일들은{basket}입니다.')

몇 개의 과일을 보관할까요? >>>5
1번째 과일을 입력하세요>>>사과
2번째 과일을 입력하세요>>>바나나
3번째 과일을 입력하세요>>>체리
4번째 과일을 입력하세요>>>오렌지
5번째 과일을 입력하세요>>>망고
입력받은 과일들은['사과', '바나나', '체리', '오렌지', '망고']입니다.

In [ ]:
exam = [99, 78, 100, 91, 81, 85, 54, 100, 71, 50]
score = []
for i in exam:
  if i >= 95:
    score.append(100)
  else:
    score.append(i+5)
    
print(score)

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [ ]:
# break

# while 문이나 for 문에서 반복을 강제로 종료시킬 때 사용

n = 1
while n<=10:
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
n = 1
while True:
  print(n)
  if n == 10:
    break
  n += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# continue

# 반복 도중에 continue를 만나면 더 이상 아래로 내려가지 않고
# 다시 반복문으로 진입한다.

total = 0
for a in range(1,101):
  if a % 3 == 0:    # 3의 배수 찾기
    continue        # 3의 배수는 제외
  total += a
print(total)

3367

In [ ]:
money = 10000

while True:
  print(f'현재 {money}원이 있습니다')

  if money <= 0:
    break
  else:
    use = int(input('사용할 금액 입력>>>'))
    if use < 0:
      print('0 이하의 금액은 사용할 수 없습니다.')
      use = 0
      continue
    elif money < use:
      print(f'{use - money}원이 부족합니다')
      continue
    money -= use

현재 10000원이 있습니다
사용할 금액 입력>>>5000
현재 5000원이 있습니다
사용할 금액 입력>>>6000
1000원이 부족합니다
현재 5000원이 있습니다
사용할 금액 입력>>>5000
현재 0원이 있습니다

In [ ]:
while True:
  star = int(input('이번 영화의 평점을 입력하세요>>>'))
  if star <= 5 and star >= 0:
    print('평점: ', end='')
    for n in range(star):
      print('★', end='')
    break
  else:
    print('평점은 1~5 사이만 입력할 수 있습니다.')
    continue

이번 영화의 평점을 입력하세요>>>7
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요>>>6
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요>>>-1
평점은 1~5 사이만 입력할 수 있습니다.
이번 영화의 평점을 입력하세요>>>4
평점: ★★★★

In [72]:
PW = 'qwerty'
i = 1

while True:
  Q = input('비밀번호를 입력하세요>>>')

  if i>4:
    print('비밀번호 입력 횟수를 초과했습니다.')
    break
  i += 1

  if PW == Q:
    print('비밀번호를 맞혔습니다.')
    break
  else:
    continue

비밀번호를 입력하세요>>>qwerty
비밀번호를 맞혔습니다.

In [79]:
# 구구단 전체 출력하기
for i in range(2, 10):
  for j in range(1, 10):
    print(f'{i}x{j}={i * j}')
  print('\n')

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18


3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27


4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36


5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45


6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54


7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63


8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72


9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [81]:
# 구구단 홀수단 출력하기
for i in range(2, 10):
  if i % 2 == 0:
    continue
  for j in range(1, 10):
    print(f'{i}x{j}={i * j}')
  print('\n')

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27


5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45


7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63


9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [86]:
# 각 단 까지만 출력
for i in range(2, 10):
  if i % 2 == 0:
    continue
  else:
    for j in range(1, 10):
      if j > i:
        break
      print(f'{i}x{j}={i*j}')
  print('\n')

3x1=3
3x2=6
3x3=9


5x1=5
5x2=10
5x3=15
5x4=20
5x5=25


7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49


9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81