<a href="https://colab.research.google.com/github/fhastas/python_basic_class/blob/main/Python_Basic_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list tuple dict set

# list   []  indexing/slicing  mutable(del, ins)   [1]

# tuple  ()  indexing/slicing  immutable           (1, )

# dict   {}    x (unordered)   mutable(del, ins)   {'key':'value'}

# set    {}    x (unordered)   mutable(del, ins)   {1,2,3}

In [7]:
# 1
no = '31025'
a = no[0]   #indexing
b = no[1:3] #slicing
c = no[3:]  #slicing

print(a, '학년', b, '반', c, '번')
print(f'{a} 학년 {b} 반 {c} 번')    #f 스트링

3 학년 10 반 25 번
3 학년 10 반 25 번

In [10]:
# 2
no = '서울2가1234'
no4 = no[-4:]
#print(no,'의 차량정보 4자리는', no4,'입니다')
print(f'{no}의 차량정보 4자리는 {no4}입니다.')

서울2가1234의 차량정보 4자리는 1234입니다.

In [18]:
# 3
s = 'maple'
center = s[len(s) // 2]     # // 나머지를 버리고 몫만 취한다.  % 몫을 버리고 나머지만 취한다.   / 몫과 나머지 모두 가져온다.

# print(f'{s}의 가운데 글자는 {s[(len(s)//2):(len(s)//2)+1]}입니다')
print(s, '의 가운데 글자는', center, '입니다.')
print(f'{s}의 가운데 글자는 {center}입니다.')

maple의 가운데 글자는 p입니다.

In [27]:
# 4
li = [10,20,30,40,50,60,70,80,90,100]
li37 = li[2:7]
li2 = li37[1]
print(f'3번째 요소부터 7번째 요소 = {li37}')
# print(f'3번째 요소부터 7번째 요소 중 2번째 요소 = {li2}')
print(f'3번째 요소부터 7번째 요소 중 2번째 요소 = {li[2:7][1]}')

3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [32]:
di = {'금요일':'탕수육', '토요일':'유산슬','일요일':'팔보채'}
# print('금요일 :',di['금요일'])
# print('토요일 :',di['토요일'])
# print('일요일 :',di['일요일'])

print('금요일 :',di['금요일'],'\n토요일 :',di['토요일'],'\n일요일 :',di['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [38]:
# \ 따음표의 기능을 무력화시키고 글자로 표현
# \n 줄바꿈 line feed
# \t 탭     tab

print('Hello \'World\'')
print("Hello 'World'")

print("Hello \"World\"")
print('Hello "World"')

print('*\n**\n***')

print('Hello\nWorld')

print('이름\t연락처')
print('제시카\t01-123-4567')
print('마틴\t010-1234-5678')

Hello 'World'
Hello 'World'
Hello "World"
Hello "World"
*
**
***
Hello
World
이름	연락처
제시카	01-123-4567
마틴	010-1234-5678

In [41]:
# print 함수

print('재미있는', '파이썬')
print('재미있는', '파이썬', sep=',')  # 구분자
print('재미있는', '파이썬', sep='/')
print('재미있는', '파이썬', sep=':')

재미있는 파이썬
재미있는,파이썬
재미있는/파이썬
재미있는:파이썬

In [42]:
print('영화 타이타닉')
print('평점', end=':')    
print('5점')

영화 타이타닉
평점:5점

In [48]:
# % 연산자  (비추)

print('%d' % 10)    # 10진수
print('%o' % 10)    # 진수
print('%x' % 10)    # 16진수

print('%f' % 3.14)

print('%s' % 'python')
print('%s' % 3.14)

10
12
a
3.140000
python
10
10
10

In [52]:
print('%d' % 1)
print('%5d' % 1)    # 다섯칸을 확보하고 오른쪽부터 출력
print('%5d' % 11)

1
    1
   11

In [56]:
print('%-5d' % 1)   # 다섯칸을 확보하고 왼쪽부터 출력
print('%-5d' % 11)

1
11

In [58]:
print('%5.2f' % 3.14)   # 다섯 칸을 확보하고 소수 2자리까지 오른쪽부터 출력
print('%5.1f' % 3.14)   # 다섯 칸을 확보하고 소수 1자리까지 오른쪽부터 출력

print('%-5.2f' % 3.14)   # 다섯 칸을 확보하고 소수 2자리까지 왼쪽부터 출력
print('%-5.1f' % 3.14)   # 다섯 칸을 확보하고 소수 1자리까지 왼쪽부터 출력

 3.14
  3.1
3.14
3.1

In [59]:
print('%s' % 3.14)

3.14

In [65]:
# format() 매서드

print('My name is {}'.format('James'))

My name is James

In [71]:
print('My name is {1}'.format('James', 'Amy'))

My name is Amy

In [72]:
print('My name is {name}. I\'m {age} years old.'.format(name='James', age=20))

My name is James. I'm 20 years old.

In [70]:
print('My name is {}. I\'m {} years old.'.format('James', 20))

My name is James. I'm 20 years old.

In [73]:
# f-strings

who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [74]:
age = 25
print(f'내년엔 {age + 1}살이 됩니다.')

내년엔 26살이 됩니다.

In [64]:
# 기본 출력 
a = '학생'
print(a, '입니다.')

# f string 출력 방법
print(f'{a} 입니다')

# % 연산자 출력 방법
print('%s 입니다.' % a)

#format() 출력 방법
print('{} 입니다.'. format(a))

학생 입니다.
학생 입니다
학생 입니다.
학생 입니다.

In [75]:
# 표준 입력

a = input()
print(a)

asd
asd

In [77]:
n = input('정수를 입력하세요 : ')
print(n)

정수를 입력하세요 : 123123
123123

In [81]:
name = input('이름을 입력하세요>>')
age = input('나이를 입력하세요>>')

print('입력된 이름은', name, '입니다.')
print(f'입력된 이름은 {name}입니다.')
print('입력된 이름은 %s입니다.' % name)
print('입력된 이름은 {}입니다'.format(name))

print('입력된 나이는', age, '살 입니다')
print(f'입력된 나이는 {age}살 입니다')
print('입력된 나이는 %s살 입니다' % age)
print('입력된 나이는 {}살 입니다'.format(age))

이름을 입력하세요>>홍길동
나이를 입력하세요>>30
입력된 이름은 홍길동 입니다.
입력된 이름은 홍길동입니다.
입력된 이름은 홍길동입니다.
입력된 이름은 홍길동입니다
입력된 나이는 30 살 입니다
입력된 나이는 30살 입니다
입력된 나이는 30살 입니다
입력된 나이는 30살 입니다