<a href="https://colab.research.google.com/github/fhastas/python_basic_class/blob/main/Python_Basic_Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# C언어에는 클래스가 없다 -> 클래스가 필수는 아니다

In [3]:
result1 = 0

def add1(num):
  global result1
  result1 += num
  return result1

result2 = 0

def add2(num):
  global result2
  result2 += num
  return result2

print(add1(3))
print(add1(4))

print(add2(2))
print(add2(5))

3
7
2
7

In [4]:
print(add1(3))
print(add2(5))

10
12

In [1]:
class Calculator:
  def __init__(self):     # __init__ 생성자는 객체를 생성할 때 자동으로 호출
    self.result = 0
  def add(self, num):     # self는 호출한 그 객체를 말한다.
    self.result += num
    return self.result

cal1 = Calculator()
cal2 = Calculator()

In [4]:
cal1.add(5)

10

In [5]:
cal2.add(3)

6

In [6]:
class FourCal:
  def setdata(self, first, second):   # self = a(객체의 이름), fisrt = 4, second = 2
    self.first = first
    self.second = second

In [7]:
a = FourCal()
b = FourCal()

In [8]:
a.setdata(4,2)
b.setdata(3,5)

In [9]:
print(a.first)

4

In [29]:
class FourCal:
  def setdata(self, first, second):   # self = a(객체의 이름), fisrt = 4, second = 2
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result

In [13]:
a = FourCal()
a.setdata(4,2)
print(a.first)
print(a.second)

4
2

In [15]:
print(a.add())

6

In [18]:
b = FourCal()
b.setdata(3,5)
print(b.first)
print(b.second)
print(b.add())

3
5
8

In [43]:
class FourCal:
  def __init__(self, first, second):  # __init__ 생성자는 객체를 생성할 때 자동으로 호출
    self.first = first
    self.second = second

  def setdata(self, first, second):   # self = a(객체의 이름), fisrt = 4, second = 2
    self.first = first
    self.second = second

  def add(self):
    result = self.first + self.second
    return result

  def mul(self):
    result = self.first * self.second
    return result

  def sub(self):
    result = self.first - self.second
    return result

  def div(self):
    result = self.first / self.second
    return result

In [31]:
c = FourCal()
c.setdata(1,2)
print(c.add())
print(c.mul())
print(c.sub())
print(c.div())

3
2
-1
0.5

In [24]:
# 상속 inheritance
# 어떤 클래스를 만들 때 다른 클래스의 기능을 물려받을 수 있는 기능
# 보통 상속은 기존 클래스를 변경하지 않고 기능을 추가하거나
#

In [44]:
class MoreFourCal(FourCal):
  def pow(self):
    result = self.first ** self.second
    return result

e = MoreFourCal(3, 2)
e.add()

5

In [34]:
print(e.add())
print(e.pow())

5
9

In [45]:
# 매서드 오버라이딩 mathod overriding

a = FourCal(4, 0)
a.div()

ZeroDivisionError: ignored

In [46]:
class SafeFourCal(FourCal):
  def div(self):
    if self.second == 0:
      return 0
    else:
      return self.first / self.second

f = SafeFourCal(4, 0)
f.div()

0

In [48]:
# 클래스 변수 

# 객체변수는 다른 객체들에 영향을 받지 않고 독립적으로 그 값을 유지한다는 것이 중요하다

# 클래스 변수는 객체 생성 없이도 사용할 수 있다.

# 실무에서는 클래스 변수보다는 객체 변수를 사용하는 비율이 훨씬 높다

class Family:
  lastname = '김' # 클래스 변수 선언

Family.lastname

'김'

In [49]:
a = Family()
b = Family()

print(a.lastname)
print(b.lastname)

김
김

In [50]:
Family.lastname = '박'

In [51]:
print(a.lastname)
print(b.lastname)

박
박

In [52]:
class Book:
  def set_info(self, bN, bA):
    global book_list
    self.bN = bN
    self.bA = bA
  def print_info(self):
    print(f'책 제목: {self.bN}\n책 저자: {self.bA}')
  
book1 = Book()
book2 = Book()

book1.set_info('파이썬', '민경태')
book2.set_info('어린왕자', '생택쥐페리')

book1.print_info()
book2.print_info()

책 제목: 파이썬
책 저자: 민경태
책 제목: 어린왕자
책 저자: 생택쥐페리

In [56]:
# 예외 처리 Exception

try:
  a = int(input('제수를 입력하세요>>>'))
  b = int(input('비제수를 입력하세요>>>'))
  print(f'{a}/{b}={a/b}')
except:
  print('0으로 나누는 것은 불가능합니다.')

제수를 입력하세요>>>10
비제수를 입력하세요>>>0
0으로 나누는 것은 불가능합니다.

In [ ]:
try:
  a = int(input('제수를 입력하세요>>>'))
  b = int(input('비제수를 입력하세요>>>'))
  print(f'{a}/{b}={a/b}')
except ZeroDivisionError:
  print('0으로 나누는 것은 불가능합니다.')
except ValueError:
  print('정수만 입력할 수 있습니다.')
except Exception:
  print('알 수 없는 예외가 발생했습니다.')

In [57]:
a = [10,20,30,40,50]

try:
  a[10]
except IndexError as e:
  print(e)

list index out of range

In [ ]:
try:
  a = int(input('제수를 입력하세요>>>'))
  b = int(input('비제수를 입력하세요>>>'))
  result = a/b

except ZeroDivisionError:
  print('0으로 나누는 것은 불가능합니다.')
except ValueError:
  print('정수만 입력할 수 있습니다.')
except Exception:
  print('알 수 없는 예외가 발생했습니다.')

else:       # 예외가 발생하지 않았을 경우 접근
  print(f'{a}/{b}={result}')
finally:    # 예외 발생 여부와는 상관없이 항상 마지막에 접근
  print('프로그램을 종료합니다.')

In [58]:
# 강제 예외 발생

try:
  raise Exception('강제 예외 발생')
except Exception as e:
  print('발생한 예외 메세지는 다음과 같습니다.')
  print(e)

발생한 예외 메세지는 다음과 같습니다.
강제 예외 발생

In [62]:
import random

class UpDown:
  def __init__(self):
    self.answer = random.randint(1, 100)
    self.conut = 0
  def play(self):
    while True:
      try:
        no = self.challenge()
      except Exception as e:
        print(e)
      else:
        if self.answer < no:
          print('Down')
        elif self.answer > no:
          print('Up')
        else:
          print(f'{self.conut}번만의 정답입니다.')
          break
  def challenge(self):
    self.conut += 1
    no = int(input('입력(1~100)>>>'))
    if no > 100 or no < 0:
      raise Exception('1~100 사이만 입력하세요')
    return no

game = UpDown()
game.play()

입력(1~100)>>>50
Up
입력(1~100)>>>75
Up
입력(1~100)>>>90
Down
입력(1~100)>>>80
Up
입력(1~100)>>>88
Up
입력(1~100)>>>89
6번만의 정답입니다.